<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj2guyhkiVwnI237IKFHJAFVBQMG0RA_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>967705491203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>learningSwift.UniParkV2</string>
	<key>PROJECT_ID</key>
	<string>unipark-b2324</string>
	<key>STORAGE_BUCKET</key>
	<string>unipark-b2324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967705491203:ios:c1d5fe9a357e9b64635b36</string>
</dict>
</plist>